# Many To Many Relation

### Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |

### Lecture

| id(PK)   | title     |
| ----     | --------- |
| INT      | CharField |

### Enrollment

| id(PK) | student_id(FK - Student) | lecture_id(FK - Lecture) |
| ------ | ------------------------ | ------------------------ |
| INT    | INT                      | INT                      |

In [ ]:
# 모델
Student

In [4]:
# 매니저
Student.objects

In [9]:
Student.objects.all().count()

0

In [7]:
Lecture

mton.models.Lecture

In [8]:
Enrollment

mton.models.Enrollment

In [10]:
# Student 매니저야 전체를 지워줘
Student.objects.all().delete()

(0, {})

In [1]:
Student.objects.all()

In [12]:
Lecture.objects.all().delete()

(0, {})

In [2]:
Lecture.objects.all()

In [14]:
Enrollment.objects.all().delete()

(0, {'mton.Enrollment': 0})

In [3]:
Enrollment.objects.all()

In [6]:
# Student.objects.create(name='곽동령')
# Student.objects.create(name='이유림')
# Student.objects.create(name='안도건')
# Student.objects.create(name='지상현')
Student.objects.count()

4

In [42]:
# Lecture.objects.create(title='알고리즘')
# Lecture.objects.create(title='자바 스크립트')
# Lecture.objects.create(title='css')
Lecture.objects.count()

3

In [43]:
# Enrollment.objects.create(student_id=1, lecture_id=1)
# Enrollment.objects.create(student_id=1, lecture_id=2)
# Enrollment.objects.create(student_id=1, lecture_id=3)

In [14]:
# Enrollment.objects.create(student_id=Student., lecture_id=1)

In [22]:
# Enrollment.objects.create(student_id=4, lecture_id=1)
# Enrollment.objects.create(student_id=Student.objects.get(name='지상현').id, lecture_id=Lecture.objects.get(title='자바 스크립트').id)

In [44]:
# Enrollment.objects.create(student_id=3, lecture_id=1)
# Enrollment.objects.create(student_id=3, lecture_id=2)
# Enrollment.objects.create(student_id=3, lecture_id=3)

In [52]:
곽동령 = Student.objects.get(name='곽동령')

# 매니저에게 불러올 때는 first, last는 바로 불러 올 수 있다
수강신청1 = 곽동령.enrollment_set.first()
수강신청2 = 곽동령.enrollment_set.last()

# 수강신청1 = 곽동령.enrollment_set.all()[0]
# 수강신청2 = 곽동령.enrollment_set.all()[1]

수강신청1.lecture.title
수강신청2.lecture.title

'css'

In [49]:
# 수업 여러개 듣는 사람 1명을 student에 저장합니다
# student의 수업들 제목을 출력하는 for문을 날려보세요

student = Student.objects.get(name='안도건')
lst = student.enrollment_set.all()

for a in range(len(lst)):
    print(lst[a].lecture.title)
    
print('-------------------------------')
    
for 수강신청 in student.enrollment_set.all():
    print(수강신청.lecture.title)

알고리즘
자바 스크립트
css
-------------------------------
알고리즘
자바 스크립트
css

In [51]:
# 그 student의 수업 제목이 5글자 넘는 수업의 제목을 출력하세요

lst = student.enrollment_set.all()

for 수업제목 in student.enrollment_set.all():
    if len(수업제목.lecture.title) >= 5:
        print(수업제목.lecture.title)
        
print('-------------------------------------')

for a in range(len(lst)):
    if len(lst[a].lecture.title) >= 5:
        print(lst[a].lecture.title)

자바 스크립트
-------------------------------------
자바 스크립트

In [ ]:
# Lecture.students => 수업 듣는 모든 학생들
# Student.lectures => 학생이 듣는 모든 수업들

In [10]:
# Hotel.dummy(11)
# Client.dummy(11)

In [11]:
Hotel.objects.all().values('name')

<QuerySet [{'name': 'Allen Inc'}, {'name': 'Wright, Simpson and Wolf'}, {'name': 'Williams, Hall and Garcia'}, {'name': 'Williams, Terrell and Osborne'}, {'name': 'Phillips, Downs and Walsh'}, {'name': 'Oneal-Martin'}, {'name': 'Strong, Chapman and Estrada'}, {'name': 'Long, Lee and Crawford'}, {'name': 'Davis-White'}, {'name': 'Olson-Walker'}, {'name': 'Walker-Parrish'}]>

In [12]:
Client.objects.all().values('id','name')

<QuerySet [{'id': 2, 'name': 'Andre Jackson'}, {'id': 11, 'name': 'Donna Contreras'}, {'id': 7, 'name': 'Elizabeth Rice'}, {'id': 4, 'name': 'Jenny Marsh'}, {'id': 3, 'name': 'Karina Mays'}, {'id': 8, 'name': 'Kathy Miller'}, {'id': 1, 'name': 'Matthew Melton'}, {'id': 6, 'name': 'Robin Jackson'}, {'id': 9, 'name': 'Samantha Garrett'}, {'id': 10, 'name': 'Scott Smith'}, {'id': 5, 'name': 'Tara Kelly'}]>

In [13]:
Client.objects.last().hotel_set.count()

0

In [1]:
new_hotel = Hotel.objects.last()

# Reservation.objects.create(hotel_id=1, client_id=2)

# new_hotel.clients.add(Client.objects.last())
new_hotel.clients.add(Client.objects.get(id=3), Client.objects.get(id=5), Client.objects.get(id=7))
new_hotel.clients.all().filter(name__contains='h')

In [4]:
client = Client.objects.get(id=3)

client.hotels.add(
Hotel.objects.get(id=2),
Hotel.objects.get(id=4),
Hotel.objects.get(id=6))

In [5]:
client.hotels.all().values('name')